
/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    height: 100%;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

main{
    position: relative;
    z-index: 1;
    height: 95%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

footer{
    text-align: center;
    height: 5%;
    background-color: black;
    color: white;
}

.logo{
    margin: auto;
    margin-top: 6.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 550px;
    height: 550px;
    background: rgb(216, 203, 203);
    font-size: 50px;
    border: 1px solid grey;
    border-radius: 50%;
    animation: zoom 2s ease infinite;
}

@keyframes zoom {
    0%{
        width: 540px;
        height: 540px;
    }
    12.5%{
        width: 545px;
        height: 545px;
    }
    25%{
        width: 550px;
        height: 550px;
    }
    37.5%{
        width: 555px;
        height: 555px;
    }
    50%{
        width: 560px;
        height: 560px;
    }
    62.5%{
        width: 555px;
        height: 555px;
    }
    75%{
        width: 550px;
        height: 550px;
    }
    87.5%{
        width: 545px;
        height: 545px;
    }
    100%{
        width: 540px;
        height: 540px;
    }
    
}

.note{
    font-size: 35px;
    color: grey;
    margin-top: 20px;
    opacity: 0.8;
    padding-top: 15%;
}

.logo:hover{
    background-color: rgb(245, 237, 237);
}

.popup-container{
    position: absolute;
    z-index: 10;
    background-color: #fafafa;
    border-radius: 5px;
    border: 1px solid #e73c7e;
    margin-top: 15%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
    height: 300px;
    animation: popup 0.5s;
}



.popup-banner{
    padding-top: 2%;
    height: 10%;
    background-color: #e73c7e;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 18px;
}

.popup-content{
    margin: auto;
    font-size: 20px;
    padding-left: 3%;
    padding-right: 3%;
}

.popup-button{
    background-color: #23a6d5;
    color: white;
    width: 70px;
    height: 45px;
    margin: auto;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    opacity: 0.7;
}

.popup-button:hover{
    opacity: 1;
    transform: scale(1.1);
}

@media (max-width: 400px) and (max-height: 700px){
    .logo{
        margin: auto;
        margin-top: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 50px;
        height: 50px;
        background: rgb(216, 203, 203);
        font-size: 25px;
        border: 1px solid grey;
        border-radius: 50%;
        animation: phone 2s ease infinite;
    }

    @keyframes phone {
        0%{
            width: 180px;
            height: 180px;
        }
        12.5%{
            width: 185px;
            height: 185px;
        }
        25%{
            width: 190px;
            height: 190px;
        }
        37.5%{
            width: 195px;
            height: 195px;
        }
        50%{
            width: 200px;
            height: 200px;
        }
        62.5%{
            width: 195px;
            height: 195px;
        }
        75%{
            width: 190px;
            height: 190px;
        }
        87.5%{
            width: 185px;
            height: 185px;
        }
        100%{
            width: 180px;
            height: 180px;
        }
        
    }

    .note{
        font-size: 15px;
        color: grey;
        margin-top: 20px;
        opacity: 0.8;
        padding-top: 15%;
    }



}
